<template>
<div class="container">
  <span class="button is-primary icon is-left modal-button"
    @click.prevent="show = true"
    data-target="modal"
    aria-haspopup="true" style="float: right;">
      <i class="fas fa-plus"></i>
  </span>
  <div class="modal" id="modal" v-bind:class="{active : show}">
    <div class="modal-background"></div>
    <div class="modal-content">
      <form action="" @submit.prevent="onCreateProject">
        <div class="field">
          <label class="label">Nom du Projet</label>
          <div class="control">
            <input class="input" type="text" placeholder="Nom du Projet" id="nameProject" v-model="title">
          </div>
        </div>
        <div class="control">
          <button class="button is-link" :disabled="!formValid">ENREGISTRER</button>
        </div>d
      </form>
    </div>
    <button class="modal-close is-large" aria-label="close" @click.prevent="show = false"></button>
  </div>
</div>
</template>

<script>
// import NameProject from '@/components/Project/CreateProject.vue'
export default {
  /* components: {
    NameProject
  }, */
  data () {
    return {
      title: '',
      description: '',
      closeModal: true,
      show: false
    }
  },
  computed: {
    formValid () {
      return this.title !== ''
    }
  },
  methods: {
    onCreateProject () {
      // console.log({ name: this.nameProject })
      // this.$store.dispatch('createNameProject', { name: this.nameProject })
      const projectData = {
        title: this.title,
        description: this.description
      }
      this.$store.dispatch('createProject', projectData)
      // this.$router.push('/dashboard')
    }
  }
}
</script>

<style lang="scss" scoped>
  #modal {
    display: none;

    &.active{
      display: flex;
    }
  }
</style>
