<template>
  <div class="container">
    <span class="button icon is-left modal-button"
      @click.prevent="showCreateTodolist = true"
      style="float: right;">
      <i class="fas fa-plus"></i>
    </span>
    <div class="modal is-active" id="modal" v-bind:class="{active : showCreateTodolist}">
      <div class="modal-background"></div>
      <div class="modal-content">
        <form action=""  @submit.prevent="createTodolist" >
          <div class="control field">
            <p style="color: white;">Projet : {{project.title}}</p>
          </div>
          <div class="control field">
            <p style="color: white;">Nom de la tâche</p>
            <input class="input" type="text" placeholder="Nom de la tâche" v-model="title">
          </div>
          <div class="control field">
            <p style="color: white;">Date de début</p>
            <input class="input" type="text" placeholder="Date debut" v-model="taskStart">
          </div>
          <div class="control field">
            <p style="color: white;">Date de fin</p>
            <input class="input" type="text" placeholder="Date fin" v-model="taskEnd">
          </div>
          <div class="control field">
            <p style="color: white;">Niveau de priorité</p>
            <p class="control has-icons-left">
              <span class="select">
                <select v-model="taskPriority">
                  <option selected>Tranquille</option>
                  <option>Moyen</option>
                  <option>Urgent</option>
                </select>
              </span>
              <span class="icon is-small is-left">
                <i class="fas fa-globe"></i>
              </span>
            </p>
          </div>
          <div class="control field">
            <p style="color: white;">Description</p>
            <textarea class="textarea" placeholder="Description de la tâche" v-model="description"></textarea>
          </div>
            <button class="button is-success" :disabled="!formValid">AJOUTER</button>
        </form>
      </div>
      <button class="modal-close is-large" aria-label="close" @click.prevent="showCreateTodolist = false"></button>
    </div>
  </div>
</template>

<script>
export default {
  props: ['project'],
  data () {
    return {
      idProject: this.project.id,
      title: '',
      taskStart: '',
      taskEnd: '',
      taskPriority: '',
      description: '',
      showCreateTodolist: false
    }
  },
  computed: {
    formValid () {
      return this.taskStart !== '' && this.taskEnd !== '' && this.taskPriority !== '' && this.description !== ''
    }
  },
  methods: {
    createTodolist () {
      /* this.uid = this.$store.getters.getUid
      this.email = this.$store.getters.getUserEmail */
      // this.idProject = this.getters.getters.returnIdProject
      // console.log('project' + this.project.id)
      this.$store.dispatch('createTask', {
        projectId: this.idProject,
        title: this.title,
        taskStart: this.taskStart,
        taskEnd: this.taskEnd,
        taskPriority: this.taskPriority,
        description: this.description
      })
      this.showCreateTodolist = false
    }
  }
}
</script>

<style lang="scss" scoped>
  #modal {
    display: none;

    &.active{
      display: flex;
    }
  }
</style>
