<template>
  <div class="container">
    <Navbar />
    <div class="container">
      <div class="columns">
        <div class="column is-4">
          <article class="panel is-primary">
            <p class="panel-heading" style="text-align: start;">
              Mes Projets
            </p>
            <NameProject />
            <div class="columns is-marginless panel-block is-active" v-for="project in projects" v-bind:key="project.id">
              <div class="column is-4" style="text-align: start;margin-left: 0.7rem;">
                <a id="getName" ref="getName" v-on:click="displayNameProject(project)">{{project.title}}</a>
              </div>
              <div class="column is-3 is-offset-5 dropdown is-hoverable">
                <div class="dropdown-trigger">
                  <a aria-haspopup="true" aria-controls="dropdown-menu4">
                    <span class="panel-icon">
                      <i class="fas fa-ellipsis-v" aria-hidden="true" style="margin-left: 13%;"></i>
                    </span>
                  </a>
                </div>
                <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                  <div class="dropdown-content">
                    <a href="#" class="dropdown-item">
                      Modifier le nom
                    </a>
                    <a class="dropdown-item">
                      Supprimer le projet
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
        <div class="column is-8" v-if="hasProject">
          <article class="panel is-primary">
            <p class="panel-heading" style="text-align: start;">
              Projet : {{selectedProject.title}}
            </p>
          </article>
          <div class="columns">
            <div class="column is-12">
              <article class="panel is-primary">
                <h2 style="text-align: start;font-weight: 900;margin-left: 1em;margin-top: 1em;">
                  Mes Tâches
                  <CreateModal :project="selectedProject"></CreateModal>
                  </h2>
                <div class="panel-block">
                  <p class="control has-icons-left">
                    <input class="input is-primary" type="text" placeholder="Search">
                    <span class="icon is-left">
                      <i class="fas fa-search" aria-hidden="true"></i>
                    </span>
                  </p>
                </div>
                <article class="message" v-for="task in tasks" v-bind:key="task.id">
                  <div class="message-header" style="background-color: white;color: black;">
                    <p>{{task.title}}</p>
                    <button class="delete" aria-label="delete"></button>
                  </div>
                  <div class="message-body">
                    <table class="table" style="width: 100%">
                      <tbody>
                        <tr>
                          <th style="width: 50%;">
                            Project
                          </th>
                          <td>
                            <span>02-12-2019 à 12-12-2019</span>
                          </td>
                          <td style="width: 5%;">
                            <span class="panel-icon" style="float:right;">
                              <i class="fas fa-ellipsis-v" aria-hidden="true" style="margin-left: 13%;"></i>
                            </span>
                          </td>
                        </tr>
                        <tr>
                          <th style="width: 50%;">
                            Figma
                          </th>
                          <td>
                            <span>02-06-2019 à 12-07-2019</span>
                          </td>
                          <td style="width: 5%;">
                            <span class="panel-icon" style="float:right;">
                              <i class="fas fa-ellipsis-v" aria-hidden="true" style="margin-left: 13%;"></i>
                            </span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </article>
              </article>
            </div>
          </div>
          <article class="message is-primary">
            <div class="message-header">
              <p>Description</p>
            </div>
            <div class="message-body">
              <p>Voici ma Description</p>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Navbar from '@/components/Navbar.vue'
import NameProject from '@/components/Project/CreateProject.vue'
import CreateModal from '@/components/Todolist/CreateTofolist.vue'
export default {
  data () {
    return {
      show: false,
      hasProject: false,
      displayedProject: null,
      selectedProject: null,
      userId: null,
      loadedTaskByUser: []
    }
  },
  components: {
    Navbar,
    NameProject,
    CreateModal
  },
  computed: {
    getNameProject () {
      return this.$store.getters.getNameProject
    },
    projects () {
      return this.$store.getters.loadedProjects
    },
    tasks () {
      console.log('TRYING TO RETRIEVE TASKS')
      return this.$store.getters.loadedTasks.filter(task => task.createdBy === this.$store.getters.user.id)
    }
  },
  methods: {
    displayNameProject (project) {
      this.selectedProject = project
      this.userId = this.$store.getters.user.id
      // console.log(this.loadedTaskByUser)
      this.$store.getters.loadedTasks.forEach(
        elm => {
          if (elm.createdBy === this.userId) {
            this.loadedTaskByUser.push({
              id: elm.id,
              title: elm.title,
              createdBy: elm.createdBy,
              projectId: elm.projectId,
              taskStart: elm.taskStart,
              taskEnd: elm.taskEnd,
              taskDescription: elm.taskDescription
            })
          }
        }
      )
      if (this.projects.length > 0) {
        this.hasProject = true
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  #modal {
    display: none;

    &.active{
      display: flex;
    }
  }
</style>
