<template>
<div class="signin">
  <div class="columns">
    <div class="column is-8 is-paddingless">
      <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container">
              <carousel>
                <slide>
                  Slide 1 Content
                </slide>
                <slide>
                  Slide 2 Content
                </slide>
                <slide>
                  Slide 3 Content
                </slide>
              </carousel>
            </div>
        </div>
      </section>
    </div>
    <div class="column is-4 is-paddingless" id="formBackground">
      <section class="hero is-fullheight">
        <div class="hero-head">
          <div class="container">
          </div>
        </div>
        <div class="hero-body" style="z-index: 1;width: 80%;">
          <div class="container">
            <p class="title" style="color:white;text-align: left;margin-bottom: 100px;">Login</p>
            <form action="" @submit.prevent="onSignIn">
              <div class="field" style="margin-bottom: 8%;">
                <p class="control has-icons-left has-icons-right">
                  <input class="input" type="email" placeholder="Email" id="txtEmail" v-model="txtEmail">
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                </p>
              </div>
              <div class="field" style="margin-bottom: 8%;">
                <p class="control has-icons-left">
                  <input class="input" type="password" placeholder="Mot de passe" id="txtPassword" v-model="txtPassword">
                  <span class="icon is-small is-left">
                      <i class="fas fa-lock"></i>
                    </span>
                </p>
              </div>
              <div class="field">
                <p class="control has-icons-left">
                  <button class="button is-medium  is-fullwidth"
                  type="submit" :disabled="!formIsValid"
                  style="background-color: #AD8282;color: white;">LOGIN</button>
                </p>
              </div>
            </form>
            <p style="margin-top: 100px;">Vous n'avez pas de compte ? <router-link to="signin">Inscrivez-vous</router-link></p>
          </div>
        </div>
        <div class="hero-foot" style="z-index: 1;"></div>
      </section>
    </div>
  </div>
</div>
</template>

<script>
import { Carousel, Slide } from 'vue-carousel'

export default {
  name: 'signin',
  components: {
    Carousel,
    Slide
  },
  data () {
    return {
      email: '',
      password: '',
      txtEmail: '',
      txtPassword: ''
    }
  },
  computed: {
    formIsValid () {
      return this.txtEmail !== '' && this.txtPassword !== ''
    },
    user () {
      return this.$store.getters.user
    }
  },
  watch: {
    user (value) {
      if (value !== null && value !== undefined) {
        this.$router.push('/dashboard')
      }
    }
  },
  methods: {
    onSignIn () {
      console.log({ email: this.txtEmail, password: this.txtPassword })
      this.$store.dispatch('signInUser', { email: this.txtEmail, password: this.txtPassword })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scope lang="scss">
h3 {
  margin: 40px 0 0;
}
/* ul {
  list-style-type: none;
  padding: 0;
} */
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #ffffff;
}

#formBackground{
  background-image: url(/images/workshop-2Kqhw3qST0o-unsplash.jpg) ;
  // background-color:rgba(0, 0, 0, 0.37);
  // opacity: 70%;
  background-attachment: fixed;

  &::after{
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
    top: 0;
    position: absolute;
  }
}

#txtEmail{
    border-radius: 0px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px solid white;
    background-color: #00000020;
    color:white;
}

input::-webkit-input-placeholder {
color: white !important;
}
input:-moz-placeholder { /* Firefox 18- */
color: white !important;
}
input::-moz-placeholder {  /* Firefox 19+ */
color: white !important;
}
input:-ms-input-placeholder {
color: white !important;
}

#txtPassword{
    border-radius: 0px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px solid white;
    background-color: #00000020;
    color:white;
}

/*Carousel*/
.carrousel {
  background: #ffffff;
  text-align: center;
  padding: 4em 0;
  //height: 7.5em;
  //max-width: 750px;
  margin: auto;
  position: relative;
  overflow: hidden;
}
.carrousel h2 {
  margin: 0;
  margin-top: -1.7em;
  padding: 0;
  font-size: 1em;
  text-align: center;
  color: #bbbbbb;
}
.carrousel .slides {
  width: 400%;
  left: 0;
  padding-left: 0;
  padding-top: 1em;
  overflow: hidden;
  list-style: none;
  position: relative;

  -webkit-transition: transform .5s;
  -moz-transition: transform .5s;
  -o-transition: transform .5s;
  transition: transform .5s;
}
.carrousel .slides li {
  width: 24%;
  position: relative;
  //float: left;
}
.carrousel li p{
  margin-top: 0;
  text-align: center;
}
.carrousel li q {
  max-width: 90%;
  margin: auto;
  color: #666666;
  font-size: 1.3em;
  font-weight: bold;
}
.carrousel li img {
  width: 6em;
  //height: 3em;
  object-fit: cover;
  //border-radius: 50%;
  //margin-left: -1.5em;
  //margin-right: 0.5em;
  vertical-align: middle;
}
.carrousel li span.author {
  margin-top:0.5em;
  font-size: 1.2em;
  color: #777777;
  display: block;
}
.carrousel .slidesNavigation {
  display: block;
  list-style: none;
  text-align: center;
  bottom: 1em;
    position: absolute;
    width: 104px; /*This width  is the addition of the width of all the navigations dots - So in this case is   104 because the navigation dots are 26px (width:10px and 6px marginleft + 6 px marginright) and there are 4 dots so 4x26=104 */
    left: 50%; /*Centering de element*/
    //argin-left: -52px; /*adjusting the centering by applying a negative margin of half of the width*/
}
.carrousel input {
  display: none;
}
.carrousel .slidesNavigation label {
  float: left;
  margin: 6px;
  display: block;
  height: 10px;
  width: 10px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: solid 2px #2980b9;
  font-size: 0;
}

#radio-1:checked ~ .slides {
  transform: translateX(0%);
}
#radio-2:checked ~ .slides {
  transform: translateX(-25%);
}
#radio-3:checked ~ .slides {
  transform: translateX(-50%);
}
#radio-4:checked ~ .slides {
  transform: translateX(-75%);
}

.carrousel .slidesNavigation label:hover {
  cursor: pointer;
}
.carrousel #radio-1:checked ~ .slidesNavigation label#dotForRadio-1,
.carrousel #radio-2:checked ~ .slidesNavigation label#dotForRadio-2,
.carrousel #radio-3:checked ~ .slidesNavigation label#dotForRadio-3,
.carrousel #radio-4:checked ~ .slidesNavigation label#dotForRadio-4 {
  background: #2980b9;
}

@media  (max-width: 796px) {
  .carrousel{
    height: 8.5em;
  }
}
@media  (max-width: 480px) {
  .carrousel li p {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  .carrousel li q {
      font-size: 1em;
  }
  .carrousel li img {
    width:2em;
    margin-left: -1em;
    margin-right: 0.25em;
  }
}

</style>
