<template>
  <nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="">
      <img src="/images/Todolist.png" >
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <router-link to="" class="button">
          <span class="icon">
            <i class="fas fa-user-alt"></i>
          </span>
        </router-link>
        <a class="button" @click="onLogOut" style="margin-left: 25%;">
          <span class="icon" >
            <i class="fas fa-power-off"></i>
          </span>
        </a>
        <!-- <div class="buttons">
          <a class="button is-primary">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light">
            Log in
          </a>
        </div> -->
      </div>
    </div>
  </div>
</nav>
</template>

<script>
export default {
  computed: {
    user () {
      return this.$store.getters.user
    }
  },
  methods: {
    onLogOut () {
      this.$store.dispatch('logout')
      this.$router.push('/signin')
    }
  }
}
</script>
